<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>English to Fongbe</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>



<body>

    <div class="jumbotron bg-secondary text-white text-center">
        <h1>English to fongbe <img src="static/benin.png"></img>

    </div>

    <div class="container">


            <div class="text-center">

                <form action="/" method="post" enctype="multipart/form-data" >
                    <div class="form-group text-center">
<!--                        <input name="message">-->
                         <div class="form-group">
                              <h2>English</h2>
                              <textarea class="form-control" id="exampleTextarea" name="message" style="width: 1200px; font-size:3em" placeholder="Your Text in English">{{ message }}</textarea>
                            </div>
                        <button type="submit" class="btn btn-primary">Translate</button>
                    </div>
                </form>

            </div>

        <div class="text-center" style="margin-bottom: 50px">
            {% if predict %}

          <h1>  {{ answer }}</h1>
        {% endif %}
        </div>

    </div>




<!--    <h3 class="text-center">Made by <a href="https://github.com/kevindegila" target="_blank"> Kevin Degila</a> </h3>-->

</body>
</html>