<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>English to Fongbe</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>



<body>

    <div class="jumbotron bg-secondary text-white text-center">
        <h1>English to fongbe <img src="static/benin.png"></img>
    </div>

<h4 align="center"> Your text in English is :  </h4>
<div class="text-center" > <font size="4"> {{ review }} </font> </div>

<h4 align="center"> The correct translation in Fongbe should be  </h4>
	<div class ="container">
	  <div class="text-center">
	        <form method="post" action ="/reviews-thanks" enctype="multipart/form-data" >
	            <div class="form-group text-center">
	                 <div class="form-group">
			      <div class="text-center" > <font size="4"> Some fongbe's alphabets : ɛ  ɔ  ɑ̃  ɛ̃  ĩ ǐ ɔ̃  ɔ̀  ɔ̃́ ũ ǔ ɖ </font> </div>
	                      <textarea class="form-control" id="exampleTextarea" name="correction" style="width: 1200px; font-size:3em" placeholder="Type the text in Fongbe">{{ correction }}</textarea>
			      <input type=hidden value="{{ review }}" name='review'>
	                 </div>
	                 <button type="submit" class="btn btn-primary"> Contribute </button>
	            </div>
	        </form>

	   </div>
		
	</div>

</body>

</html>
